//Basic Color
$whiteColor: #fff;
$footerColor: #353535;
$blackColor: #000;
$bannerColor: #f5f5f5;

//Primary Color
$primaryColor: #1b4f72;
$secondaryColor: #face00;
$thirdColor: #f4a100;

//Header and P Tag Color
$headColor: #1b4f72;
$paraColor: #0a2342;
$grayColor: #5e5e5e;

//Border Color
$borderColor: #f2f2f2;
$darkborder: #bababa;
